.container {
  min-height: 100vh;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}
.header {
  background-color: lightblue;
  height: 56px;
}

.main {
  flex: 1;
  background-color: lightpink;
}

.nav {
  position: fixed;
  background-color: lightgreen;
  bottom: 0;
  width: 100%;
}

.ul {
  display: flex;
}

.li {
  background-color: lightyellow;
  flex-direction: column;
  flex: 1;
  height: 56px;
}

@media (min-width: 600px) {
  .container {
    /* flex-direction: row; */
    height: 1500px;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .main {
    margin-left: 56px;
    margin-top: 56px;
  }

  .nav {
    top: 56px;
    left: 0;
    width: 56px;
    bottom: initial;
  }

  .ul {
    flex-direction: column;
    min-height: 100vh;
    /* flex: 1; */
  }

  .li {
    /* flex-flow: column; */
    flex-direction: unset;
    /* height: initial; */
    /* flex: unset; */
  }
}
